#board{
	position:relative;height:208px;background:#FFF;
	padding:16px;width:100%;margin-bottom:24px;
}
#board>p{
	margin:0;padding:4px;font-size:16px;
	border-bottom:1px solid hsl(208,30%,88%);
}
#board>p::before{
	content:'';display:inline-block;width:0;height:0;margin:1px 0;
	border:5px solid transparent;border-left:7px solid #666;
}