.box{width:500px;height:132px;padding:10px 10px 10px 210px;background:#FFF;position:relative;margin-bottom:24px;overflow:hidden;}
.box>.img{position:absolute;width:200px;height:152px;font-size:150px;left:0;top:0;}
.box>h3 a:first-of-type{display:inline-block;padding:2px 6px;font-size:12px;border-radius:5px;position:relative;vertical-align:top;top:4px;color:#FFF;background:hsl(208,100%,54%);transition:background 0.1s;}
.box>h3 a:first-of-type:hover{background:hsl(208,100%,64%);}
.box>p{font-size:15px;margin:6px 0;line-height:22px;color:#555;}
.box>div{position:absolute;right:10px;bottom:10px;background:hsl(210,20%,95%);overflow:hidden;font-size:12px;padding:4px 4px 4px 20px;color:#666;}
.box>div::before{content:'';display:block;position:absolute;top:0;left:0;border-width:14px 8px 14px 8px;border-style:solid;border-color:#FFF transparent transparent #FFF;}
.box>div>span{margin-right:8px;}
.box .view{position:absolute;display:block;bottom:4px;right:8px;font-size:12px;color:#BBB;}