.dlBox{
	width:560px;height:64px;border-radius:50px;padding-left:54px;
	vertical-align:top;position:relative;border:3px solid hsl(210,80%,88%);
}
.dlBox *{display:inline-block;}
.dlBox>div:first-of-type{
	position:absolute;left:0;width:32px;height:32px;margin:16px;
}
.dlBox>p{
	white-space:nowarp;font-size:18px;top:0;width:288px;
	margin:10px 5px 0 10px;border-bottom:2px solid #99CCFF;
}
.dlBox>span{font-size:12px;margin:0 10px;}
.dlBox a{
	position:relative;float:right;right:24px;width:72px;height:14px;
	background:#FFF center no-repeat;line-height:16px;
	font-size:11px;text-align:center;top:6px;white-space:nowrap;
}
.dlBox a::before{
	content:'';display:block;width:48px;height:36px;position:absolute;bottom:15px;
	margin:0 12px;background:#F85D51 url(../img/dl.svg) no-repeat center/105% auto;
	transition:opacity 0.2s;
}
.dlBox a:hover::before{opacity:0.85}
.GH{color:#F85D51}.BD{color:#09AAFF}.MF{color:#07F}
.dlBox a.BD::before{background-color:#09AAFF}
.dlBox a.MF::before{background-color:#07F}