html{min-height:100%;}
body{margin:0;padding:0;}
#BG{position:fixed;width:100%;height:100%;background:#FFF url(../img/bg.svg) no-repeat center/cover;z-index:-999;}
.C{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);}
.S{box-shadow:1px 1px 2px #0003;}
.L{float:left;margin-right:8px;}
.R{float:right;margin-left:8px;}
a{text-decoration:none;}
p>a{color:#3399FF;}
#fixed{position:fixed;top:0;left:0;width:100%;height:100%;z-index:100;pointer-events:none;}
#head{
	left:0;top:0;width:140px;height:0;
	padding-bottom:7.8125%;transition:width 0.4s;
	background:#49515A url(../img/head.webp) no-repeat;
	background-size:auto 100%;
}
#head.hide{width:68px;}
#head::after{
	content:'';display:block;z-index:90;
	width:100%;height:0;padding-bottom:7.8125%;
	background:#49515A no-repeat;
	background-image:url(../img/V.webp),url(../img/head.webp);
	position:absolute;background-size:auto 100%,100%;
	opacity:1;transition:opacity 0.4s;
}
#head.hide::after{opacity:0;}
#nav{
	position:absolute;top:0;left:0;bottom:0;
	width:136px;margin-top:7.8125%;min-height:400px;
	background:#FFF;color:#666;overflow:hidden;
	border-right:4px solid hsl(210,12%,92%);
	box-shadow:1px 0 4px #0003;transition:width 0.4s;
	pointer-events:auto;
}
#nav>p{
	position:relative;width:136px;height:40px;
	padding:8px 0;margin:0;
	line-height:40px;font-size:20px;
	background:#FFF;transition:background 0.2s;
}
#nav>p{cursor:pointer;}
#nav>p:not(#now):hover{background:hsl(216,8%,94%);}
#nav>p+p{border-top:1px solid hsl(210,12%,94%);}
#nav>p::before{
	content:'';display:block;float:left;margin:0 12px;
	width:40px;height:40px;border-radius:100%;
	background:hsl(210,12%,60%) url(../img/icon.svg) no-repeat top/27px auto;
}
#now{color:hsl(210,100%,60%);background:hsl(210,100%,97%) !important;}
#now::before{background-color:hsl(210,100%,66%) !important;}
#now::after{
	content:'';display:block;position:absolute;
	right:0;top:50%;transform:translateY(-50%);
	border:15px solid transparent;
	border-right:16px solid hsl(210,40%,88%);
}
#nowBorder{
	position:absolute;top:0;left:0;bottom:0;width:136px;height:40px;
	margin-top:7.8125%;padding:8px 0;transition:width 0.4s;
	border-right:4px solid hsl(210,40%,88%);
}
#nav>p:nth-of-type(1)::before{background-position:50% -5px;}
#nav>p:nth-of-type(2)::before{background-position:50% -48px;}
#nav>p:nth-of-type(3)::before{background-position:50% -91px;}
#nav>p:nth-of-type(4)::before{background-size:26px auto;background-position:6px -129px;}
#nav>p:nth-of-type(5)::before{background-size:25px auto;background-position:50% -163px;}
#nav>p:nth-of-type(6)::before{background-size:29.8px auto;background-position:50% 100%;}
#nav::after{
	content:'©2020 Vicklleall';display:block;
	margin:0;width:100%;text-align:center;
	font-size:12px;color:hsl(210,10%,70%);
	position:absolute;left:0;bottom:10px;
	pointer-events:none;
}
#hide{
	position:absolute;width:16px;top:350px;bottom:48px;
	right:0;margin:4px 0;cursor:pointer;
	border-radius:100% 0 0 100%;
	background:hsl(210,50%,80%);
	opacity:0;transition:opacity 0.2s;
}
#hide:hover{opacity:1;}
#hide>span{
	content:'';display:block;
	position:absolute;left:50%;top:50%;
	transform:translate(-50%,-50%);
	border-width:7px 7px 7px 0;border-style:solid;
	border-color:transparent #FFF transparent transparent;
	transition:transform 0.4s;
}
#main{
	position:absolute;left:140px;right:0;
	margin:7.8125% auto 0 auto;padding:24px;
	transition:left 0.4s,margin-top 0.4s;min-width:960px;max-width:1280px;
}
#RT{position:absolute;top:24px;left:768px;right:24px;padding-right:32px;}
h3{
	display:block;font-size:20px;font-weight:normal;
	margin:0;position:relative;padding:2px 0;
	border-bottom:2px solid hsl(210,100%,80%);
}
h3>a{display:inline-block;transition:color 0.1s;color:#000;vertical-align:top;}
h3>a:hover{color:hsl(208,100%,50%);}
h4{
	font-weight:normal;font-size:17px;margin:0;
	padding:0 0 2px 0;color:#555;
	border-bottom:2px solid hsl(210,100%,80%);
}
.img{writing-mode:vertical-lr;}
.img img{position:absolute;z-index:1;display:none;width:100%;height:100%;}
.img.cpl::before{display:none}
.img.cpl::after{display:none}
.img::before{
	width:0;height:0;content:'';display:block;
	padding:20%;border-radius:100%;background:#FFF;
	border:8px solid #DDD;border-top-color:#3399ff;
	position:absolute;left:50%;top:50%;
	transform:translate(-50%,-50%);
	animation:bar 1s infinite;
}
.img::after{
	content:'Loading\a.';display:block;
	white-space:pre-wrap;text-align:center;
	writing-mode:horizontal-tb;line-height:60%;
	position:absolute;left:50%;top:52%;
	transform:translate(-50%,-50%);
	color:#3399ff;font-size:8%;
	animation:load 1s linear infinite;
}
@keyframes bar{
	0%{transform:translate(-50%,-50%) rotate(0);}
	100%{transform:translate(-50%,-50%) rotate(360deg);}
}
@keyframes load{
	0%{content:'Loading\a.'}
	33%{content:'Loading\a..'}
	66%{content:'Loading\a...'}
	100%{content:'Loading\a.'}
}
