#review{position:relative;background:#FFF;padding:16px;width:100%;margin-bottom:24px;}
#review textarea{
	outline:none;resize:none;border:1px solid #CCC;
	display:block;border-radius:6px 6px 0 0;
	margin:6px 0 0 0;padding:4px;
	width:calc(100% - 10px);height:60px;
	font:inherit;font-size:14px;
}
#post{
	height:24px;margin-top:0;font-size:16px;
	border:1px solid #CCC;border-top:none;
	border-radius:0 0 6px 6px;
	position:relative;overflow:hidden;
}
#post div{
	display:block;text-align:center;cursor:pointer;
	position:absolute;line-height:24px;transition:background 0.1s
}
#emoji{left:0;width:36px;}
#emoji:hover{background:hsl(210,100%,96%);}
#ok{right:0;width:54px;background:hsl(206,100%,50%);color:#FFF;}
#ok:hover{background:hsl(206,100%,60%);}
#post input{
	outline:none;position:absolute;resize:none;
	display:block;left:36px;width:calc(100% - 100px);
	border:1px solid #CCC;border-top:none;border-bottom:none;
	height:100%;font:inherit;padding:0 4px;font-size:14px;
}
#rArea{position:relative;width:100%;margin-top:10px;overflow:hidden;display:none;}
#rArea>div{border-top:1px solid hsl(210,12%,90%);}
#rArea>div+div{margin-top:10px;}
#rArea>div *{margin:0;}
#rArea>div p{padding:3px 2px;font-size:16px;position:relative;white-space:nowarp;}
#rArea>div p span{position:absolute;right:0;font-size:10px;color:#888;bottom:4px;}
#rArea>div pre{
	padding-left:2px;font:inherit;font-size:14px;color:#666;
	white-space:pre-wrap;word-wrap:break-word;
}
#emojiS{
	position:absolute;top:152px;border-radius:8px;
	margin:0;padding:4px;width:calc(100% - 40px);
	transform:translateY(-20px);transition:all 0.4s;
	background:#FFF;z-index:1;opacity:0;
	pointer-events:none;font-size:16px;
}
#emojiS span{display:inline-block;margin:2px;cursor:pointer;}
#emojiS span:hover{color:hsl(210,100%,56%);}