#scroll-img{
	width:720px;height:240px;background:#FFF;
	position:relative;overflow:hidden;margin:0 24px 24px 0;
}
#scroll-img a{
	display:block;width:720px;height:240px;font-size:240px;
	transition:transform 0.4s;position:absolute;
}
#scroll-img div{
	display:inline-block;position:relative;
	float:right;margin:4px;right:5px;bottom:-216px;
	width:10px;height:10px;border:2px solid #FFF;
	border-radius:100%;background:#FFF;
	cursor:pointer;z-index:2;
}
#scroll-img #chs,#scroll-img div:hover{
	background:hsl(205,100%,60%);margin:3px;width:12px;height:12px;
}