#main{min-width:1004px;}
.keybox{
	position:relative;height:79px;padding:8px 0;width:1004px;
	background:hsl(220,8%,16%);color:#FFF;
	user-select:none;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;
}
.keybox>div:first-of-type{
	width:100px;text-align:center;height:79px;
	font-size:16px;margin:0;float:left;
}
.keybox>div:last-of-type{
	position:absolute;top:12px;right:9px;width:56px;height:79px;
}
.keybox>div:last-of-type span{
	position:relative;display:inline-block;
	height:20px;z-index:2;line-height:20px;
}
.keybox>div:last-of-type *{vertical-align:top;}
.keybox p{margin:5px 0;}
.keybox span{font-size:12px;}
.keyboard{
	background:hsl(220,8%,12%);display:inline-block;
	padding:1px 1px 1px 0;height:79px;
}
.wk,.bk{
	position:relative;display:inline-block;vertical-align:top;
}
.wk{
	width:11px;height:72px;background:#AAA;margin-left:1px;
	border:2px solid #A8A8A8;border-radius:0 0 1px 1px;
}
.wk.on{background:#FFF;border-color:#FAFAFA}
.bk{
	width:5px;height:41px;margin:0 -5px 0 -4px;z-index:1;
	background:hsl(220,8%,8%);border-radius:0 0 1px 1px;
	border:2px outset hsl(220,8%,0%);border-width:0 2px 7px 2px;
}
.bk.on{background:hsl(220,8%,27%);border-color:hsl(220,8%,16%)}
.wk.down{
	width:10px;height:74px;margin-left:2px;
}
.bk.down{
	height:43px;background:hsl(220,8%,18%);
	border-bottom-width:5px;border-color:hsl(220,8%,12%);
}
.knob{margin:0 4px;display:inline-block;position:relative;}
.knob,.knob::after{
	width:14px;height:14px;border:3px solid #FFF;
	border-radius:100%;border-bottom-color:transparent;
}
.knob::after{
	content:'';display:block;position:absolute;top:-3px;left:-3px;
	border-color:#FFF2 #FFF2 transparent #FFF2;z-index:1;
}
.knob>div{
	position:absolute;left:-5px;top:-4px;width:0;height:0;
	border:12px solid transparent;border-left-color:hsl(220,8%,16%);
	transform:rotate(135deg);pointer-events:none;
}
.knob.s0{border-color:transparent;}
.knob.s1{border-color:transparent transparent transparent #FFF;}
.knob.s2{border-color:#FFF transparent transparent #FFF;}
.knob.s3{border-color:#FFF #FFF transparent #FFF;}
.kb{
	position:relative;display:inline-block;width:16px;height:10px;
	margin:3px 4px;border:2px solid #FFF;border-radius:3px;
}
.kb::before{
	content:'';display:block;position:absolute;left:2px;top:2px;
	width:2px;height:6px;
	border-left:5px solid #FFF;border-right:5px solid #FFF;
}