body{font-size:15px;}
h1{
	display:block;position:relative;width:680px;background:#FFF;margin:0;
	font-weight:normal;font-size:24px;padding:12px 16px;border-left:8px solid hsl(210,100%,75%);
}
h1 div{position:absolute;right:0;bottom:0;}
h1 p{display:inline-block;font-size:12px;color:#AAA;margin:0 12px 12px 4px;}
.page{position:relative;padding:24px;width:672px;background:#FFF;margin-top:24px;}
.page p{margin:8px 0;line-height:26px;text-indent:2em;text-align:justify;}
.page h2{
	font-weight:normal;font-size:17px;padding:0 0 3px 44px;
	position:relative;overflow:hidden;counter-reset:h2 1;
	border-bottom:1px solid #3399FF;
}
.page h2::before{
	content:'';display:block;position:absolute;width:24px;height:0;left:-21px;top:-30px;
	border-style:solid;border-color:transparent transparent #3399FF transparent;
	border-width:30px 20px 30px 20px;
}
.img{position:relative;text-indent:0;}
.page h5{
	color:#3399FF;font-size:16px;font-weight:normal;
	margin:12px 0 8px 0;padding:6px 4px 2px 0;
	border-top:1px solid hsl(210,30%,92%);
}
.page h5::before{
	content:'';display:inline-block;width:0;height:0;
	border:5px solid transparent;border-left:7px solid #3399FF;
}
.line{text-align:center;display:inline-block;position:relative;padding:8px 4px;}
.line::before,.line::after{
	content:'';display:block;position:absolute;
	top:50%;right:100%;width:calc(336px - 50%);height:1px;
	background-image:repeating-linear-gradient(90deg,#222 0,#222 5px,transparent 5px,transparent 8px);
}
.line::after{left:100%;background-position:right;}
#cr{font-size:14px;color:#888;text-align:right;margin:0;padding:16px 8px 0 0;}