.box{padding:24px;border-radius:12px;background:#FFF}
h1{margin:0;padding:4px 0;font-weight:normal;font-size:28px;border-bottom:3px solid #9CF}
.btn{display:inline-block;font-size:18px;background:#39F;color:#FFF;padding:8px 16px;margin:12px;transition:background 0.2s;cursor:pointer}
.btn:hover{background:#5AF}