body{font-size:15px;}
h1,#headBox{position:absolute;left:24px;right:24px;background:#FFF;}
h1{
	margin:0;padding:20px 20px 20px 80px;font-weight:normal;
	height:40px;overflow:hidden;line-height:40px;font-size:36px;
}
h1 p{margin:0;padding:0 0 4px 0;border-bottom:2px solid hsl(210,20%,90%);}
h1 span{
	font-size:12px;color:#AAA;position:absolute;
	line-height:16px;right:24px;bottom:20px;
}
h1::before{
	content:'';display:block;width:0;height:0;
	position:absolute;left:0;top:-40px;
	border:80px solid transparent;
	border-left:60px solid hsl(210,100%,75%);
}
#headBox{height:240px;margin-top:104px}
#headBox>.img{
	width:720px;height:240px;position:absolute;top:0;right:0;font-size:240px;
}
#headBox p{
	margin:10px;font-size:14px;padding:5px 10px;
	display:block;width:calc(100% - 760px);overflow:hidden;
	background:hsl(210,50%,95%);white-space:nowrap;
	border-radius:30px;height:18px;line-height:18px;
}
#headBox p::before,.page h5::before{
	content:'';display:inline-block;width:0;height:0;
	border:5px solid transparent;border-left:7px solid #3399FF;
}
#page{
	position:absolute;width:720px;top:392px;background:#FFF;margin-bottom:24px;
}
.tab{
	display:inline-block;padding:6px 60px;font-size:16px;
	margin:10px 0;border-bottom:2px solid hsl(210,12%,90%);
	cursor:pointer;transition:all 0.2s;
}
.tab:hover{color:hsl(210,100%,60%);}
.page{
	display:none;padding:0 24px 24px 24px;
}
.page h2{
	border-left:3px solid hsl(210,100%,64%);
	padding:2px 6px;position:relative;
	color:#666;font-size:18px;font-weight:normal;
}
.page h2::after{
	content:'';display:block;width:240px;height:1px;
	position:absolute;left:-3px;bottom:-1px;
	background:linear-gradient(90deg,hsl(210,100%,64%) 3px,#FFF 100%);
}
.page p{line-height:26px;margin:10px 5px;}
.page:first-of-type p{text-indent:2em;}
.page h5{
	color:#3399FF;font-size:16px;font-weight:normal;margin:8px 0 -2px 10px;
}
.page h6{
	color:#999;font-size:15px;font-weight:normal;margin:16px 0 -3px 16px;
}
.page li{
	list-style:circle;margin:0 0 5px 8px;list-style-position:inside;
}
.page .img{
	display:inline-block;position:relative;
	margin-left:-1px;/*cursor:pointer;*/
	width:337px;height:256px;font-size:256px;
}
#RT{top:392px;}