.game{position:relative;width:230px;height:220px;padding:10px 10px 10px 730px;margin-bottom:24px;background:#FFF no-repeat;}
.game>.img{position:absolute;width:720px;height:240px;left:0;top:0;font-size:240px;}
.game>p{font-size:15px;margin:6px 0;line-height:24px;color:#555;}
.game>div{position:absolute;width:230px;padding:10px;font-size:12px;bottom:0;right:0;background:hsl(210,20%,95%);color:#666;}
.game span+span{margin-left:20px;}