﻿#logbox{
	position:absolute;
	width:280px;
	height:260px;
	border:1px solid #BBB;
	border-radius:8px;
	background:#FFF;
	z-index:10;
	overflow:hidden;
}
#logbox header{
	font-size:16px;
	color:#444;
	margin:16px 0 2px 20px;
}
#logbox input{
	width:228px;
	height:20px;
	border:1px solid #BBB;
	border-radius:4px;
	padding:4px;
	outline:none;
	font-size:15px;
	margin-left:20px;
}
#logbox input:focus{
	border-color:hsl(200,100%,50%) !important;
}
.tab{
	width:130px;
	font-size:16px;
	text-align:center;
	padding:5px;
	float:left;
	margin-bottom:20px;
	cursor:pointer;
}
#taba{
	border-radius:5px 0 0 0;
	color:#666;
}
#tabb{
	border-radius:0 5px 0 0;
	background:#F0F0F0;
	color:#888;
}
#log:hover{
	background:hsl(202,100%,60%) !important;
}
#log{
	margin:30px auto;
	width:120px;
	background:hsl(200,100%,50%);
	font-size:17px;
	color:#FFF;
	text-align:center;
	padding:8px;
	cursor:pointer;
}
#forget{
	position:absolute;
	top:123px;right:16px;
	margin:0;color:hsl(205,100%,50%);
	font-size:12px;cursor:pointer;
}
#logbox span{
	font-size:12px;
	color:#666;
	margin:-10px 0 0 0px;
}
#sc{
	position:absolute;
	left:24px;
	top:190px;
}