*{
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
    user-select:none;
}
#editbox{
	position:relative;
	width:400px;
	height:644px;
	float:left;
	padding:8px 12px;
	border:1px solid #AAA;
	background:#FFF;
	overflow:hidden;
}
#roomedit{
	position:relative;
	width:805px;
	height:644px;
	float:left;
	padding:8px;
	border:1px solid #AAA;
	border-left:none;
	background:#FFF;
}
.scroll{
	position:absolute;
	background:#DDD;
	border-radius:4px;
}
.scroll:hover{
	background:#AAA;
}
#surface{bottom:12px}
#GUI,#loading{
	bottom:12px;
}
#back{
	background:linear-gradient(#F8F8F8,#FFF);
}
#toptab div{
	border:1px solid #666;
	display:inline-block;
	color:#222;
}
#toptab div span{
	display:inline-block;
	margin:1px 3px;
}
#toptab input{
	position:relative;
	top:-1px;
	border:1px solid #CCC;
	width:17px;
	padding-left:2px;
	height:13px;
	color:#666;
	margin-right:3px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	-webkit-appearance:none;
}
input{
	border:1px solid #CCC;
	padding-left:2px;
}
input[type='number']{
	-moz-appearance:textfield;
}
#Gshow{
	position:absolute;
	left:8px;
	bottom:12px;
	width:800px;
	height:608px;
	border:1px solid hsla(0,0%,0%,0.2);
	background-image:linear-gradient(0deg,hsla(0,0%,50%,0.5) 1px,transparent 0),linear-gradient(90deg,hsla(0,0%,50%,0.5) 1px,transparent 0),linear-gradient(0deg,hsla(50,100%,50%,0.7) 1px,transparent 0),linear-gradient(90deg,hsla(50,100%,50%,0.7) 1px,transparent 0);
	background-size:100% 32px,32px 100%,100% 608px,800px,100%;
	pointer-events:none;
}
.bt{
	cursor:pointer;
}
.OC,#pObjSpr{
	display:inline-block;
	width:40px;
	height:40px;
	background-position:center;
	background-repeat:no-repeat;
	border:1px solid #CCC;
}
.OC{
	margin-right:-2px;
	cursor:pointer;
}
.OC:hover{
	border-color:hsl(50,80%,60%) !important;
}
#objMouse{
	position:absolute;
	display:none;
	border:1px solid #CCC;
	background-color:#FFF;
	padding:0 2px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
    user-select:none;
}
#pObj{
	border-top:1px solid #CCC;
	margin-top:4px;
	padding-top:4px;
}
#pObjName{
	position:absolute;
	left:52px;
	top:46px;
	font-size:16px;
}
#pObjId{
	position:absolute;
	left:52px;
	top:74px;
}
#editbox span{
	line-height:26px;
}
#editbox input{
	margin:0 20px 0 3px;
}
#editbox input[type='number']{
	height:16px;
	width:40px;
}
textarea{
	resize:none;
	outline:none;
	padding:3px;
	font:inherit;
}
#pObj textarea{
	border:1px solid #CCC;
	display:block;
	width:320px;
	height:100px;
}
#spr{
	width:256px;
	background-image:url('../img/back.png')
}
#spr .spr{
	display:inline-block;
	position:relative;
	vertical-align:top;
	width:30px;
	height:30px;
	background-position:center;
	background-repeat:no-repeat;
	border:1px solid rgba(0,0,0,0);
	cursor:pointer;
}
#spr .spr:hover{
	border-color:hsl(50,80%,60%);
}
#spr .spr img,#spr .spr canvas{
	position:absolute;
	left:50%;
	transform:translateX(-50%);
}
#spr .vl{
	display:inline-block;
	width:32px;
}
.chsBox{
	display:inline-block;
	margin:0 6px 4px 0;
	padding:3px 6px;
	border:1px solid #BBB;
	border-radius:4px;
	text-align:center;
	cursor:pointer;
}
.B{
	display:block;
}
.chsBox:hover{
	border-color:hsl(201,100%,50%);
}
.H{
	border-color:hsl(201,100%,50%);
}
.chsTab{
	display:none;
}
#BG{
	position:absolute;
	top:0;right:0;
	width:200px;
	height:152px;
	border:1px solid #AAA;
}
#bkedit{
	margin:5px;
	width:171px;
	height:9px;
	border:1px solid #AAA;
}
#slider{
	position:relative;
	width:172px;
	height:12px;
	margin-bottom:10px;
}
#slider div{
	position:absolute;
	width:10px;
	height:9px;
	left:0%;
	border:1px solid #AAA;
	cursor:pointer;
}
#slider div .tri{
	position:absolute;
	left:-1px;top:-6px;
	width:0;height:0;
	border:none;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    border-bottom:5px solid #AAA;
}
#bkCol{
	position:relative;
	display:inline-block;
	border:1px solid #AAA;
	border-radius:2px;
	width:40px;
	height:20px;
	top:6px;
	cursor:pointer;
}
#ShowBack{
	position:fixed;
	display:none;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0);
}
#ShowBox{
	position:fixed;
	top:50%;left:50%;
	transform:translate(-50%,-50%);
	width:400px;
	height:240px;
	border:3px solid #CCC;
	border-radius:16px;
	background:#FFF;
	padding:10px;
}
#BoxCt{
	position:relative;
	margin-top:8px;
}
.BoxTop{
	font-size:18px;
	color:#666;
	border-bottom:1px solid #AAA;
	margin-top:-2px;
	padding-bottom:2px;
}
.chsSpr{
	display:inline-block;
	margin:2px;
	width:44px;
	height:44px;
	background-repeat:no-repeat,repeat;
	background-position:center;
	border:1px solid #CCC;
	border-radius:2px;
	cursor:pointer;
}
.chsSpr:hover{
	border-color:hsl(200,100%,64%);
}
.pt{
	width:100%;
	height:101%;
	position:absolute;
	top:0;
	background-color:rgba(0,0,0,0);
	display:none;
}
#GameName{
	height:20px;
	width:300px;
}
.OpGame{
	position:relative;
	width:390px;
	border:1px solid #AAA;
	border-radius:4px;
	padding:5px;
	cursor:pointer;
	margin:7px auto;
	font:18px Orb;
}
.OpGame:hover{
	border-color:hsl(200,100%,64%);
}
.OpGame span{
	position:absolute;
	right:4px;
}
#BoxCt h1{
	font-size:24px;
	color:#000;
	text-align:center;
	font-weight:normal;
}
#BoxCt a,#BoxCt a:link,#BoxCt a:hover{
	text-align:center;
	text-decoration:none;
	-webkit-user-select:text;
	-moz-user-select:text;
	-ms-user-select:text;
    user-select:text;
}
#BoxCt h2{
	font-size:16px;
	color:#666;
	margin:0 4px 3px 0;
	font-weight:normal;
}
#GIn{
	width:280px;
	height:90px;
	border:1px solid #AAA;
	font-size:15px;
}
#GCover{
	width:96px;
	height:96px;
	border:1px solid #AAA;
	margin-bottom:8px;
	position:relative;
	font-size:32px;
	text-align:center;
	line-height:96px;
	cursor:pointer;
}
#UP{
	position:absolute;
	bottom:4px;right:4px;
	width:80px;padding:4px;
	font-size:18px;
	background-color:hsl(205,100%,50%);
	color:#FFF;
	text-align:center;
	cursor:pointer;
}
#UP:hover{
	background-color:hsl(207,100%,60%);
}
#CBK{
	width:100%;
	height:100%;
	display:none;
	position:fixed;
	background:rgba(0,0,0,0.3);
}
#CUp{
	position:absolute;
	display:flex;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
#dUp,#cGC{
	background:#FFF;
	border:1px solid #CCC;
}
#CUp ul{
	position:relative;
	margin:4px;
}
#CUp div{
	width:88px;padding:4px;
	margin:8px 0;
	font-size:18px;
	background-color:hsl(205,100%,50%);
	color:#FFF;
	text-align:center;
	cursor:pointer;
}
#CImg{
	position:absolute;
	left:0;top:0;
}
#Cchs{
	position:absolute;
	border:1px solid hsl(50,80%,60%);
	background:linear-gradient(315deg,hsla(50,80%,60%,0.6) 10px,transparent 0);
}
#BoxCt input[type='number'],#effects input[type='number']{
	width:25px;
	margin:0 2px;
	border-color:#AAA;
	color:inherit;
}
#efcol{
	display:inline-block;
	vertical-align:middle;
	margin:0 2px;
	border:1px solid #AAA;
	border-radius:3px;
	width:20px;height:16px;
	cursor:pointer;
}
#haveEf{
	color:#AAA;
	pointer-events:none;
}
.bgmn{
	display:inline-block;color:#666;
	margin:4px 8px 0 0;cursor:pointer;
}
.bgmn:hover{
	color:hsl(205,100%,50%);
}