@font-face{
	font-family:Orb;src:url('../../css/Orbitron.otf');
}
#title{
	position:relative;height:70px;width:100%;min-width:1240px;
	border-bottom:3px solid hsl(207,100%,80%);
}
#name{
	font:60px Orb;color:#FFF;
	text-shadow:0 0 12px #000,0 0 8px #000;
	-webkit-text-stroke:2px #000;
}
#des{
	font:20px;position:absolute;right:0;color:#666;
}
#title img{
	image-rendering:pixelated;
}
#user{
	position:absolute;right:72px;top:5px;
}
#username{
	margin:4px 0;font:inherit;font-size:18px;
}
#player{
	position:absolute;
	right:0;top:0;width:36px;height:36px;
	padding:14px 12px 8px 10px;
	border-radius:32px;
	border:2px solid #AAA;
	background-color:#FFF;
	background-position:center;
	cursor:pointer;overflow:hidden;
}
#userp{
	opacity:0;
	transition:opacity 0.4s;
	position:absolute;
	right:-9px;top:64px;
	width:76px;z-index:10;
	border-radius:4px;
	border:1px solid #CCC;
	background:#FFF;
	pointer-events:none;
}
#userp div{
	width:100%;padding:3px 0;color:#666;
	text-align:center;font-size:14px;cursor:pointer;
	transition:color 0.4s;
}
#userp div:hover{
	color:#000;
}
#Lv{
	position:absolute;height:26px;
	right:72px;bottom:5px;
}
#LvS{
	display:inline-block;
	padding:6px;margin-right:80px;
	background-color:hsl(205,100%,75%);
	color:#FFF;font:12px Orb;
	border-radius:4px;
}
#Bar{
	position:absolute;z-index:-10;
	width:80px;height:12px;bottom:0;right:0;
	border-radius:0 4px 4px 0;
	border:1px solid #DDD;border-left:none;
}
#Exp{
	position:absolute;top:-4px;right:0;
	color:#999;transform:scale(0.8);
}
.op{
	float:left;cursor:pointer;
	margin-right:6px;
	width:56px;height:56px;
	border:2px solid #BBB;
	border-radius:30px;
	background-color:#E6E6E6;
	background-blend-mode:lighten;
	transition:background-color 0.2s;
	background-position:center;
	background-repeat:no-repeat;
}
.op:hover{
	background-color:hsl(206,100%,85%) !important;
}
.opp{
	position: relative;float:left;top:5px;
	font-size:20px;color:#888;margin-right:10px;
}
.board{
	position:relative;
	margin-bottom:16px;
	top:16px;width:256px;min-height:128px;max-height:352px;
	border:1px solid #CCC;border-radius:6px;
	background-color:hsl(205,100%,96%);
	overflow:hidden;
}
.bdarea{
	position:absolute;top:32px;left:0;width:125%;height:calc(100% - 32px);
	background-image:repeating-linear-gradient(180deg,#FFF,#FFF 32px,transparent 0,transparent 64px);
	overflow:hidden scroll;
}
.bdarea div{
	display:inline-block;
	background:hsl(200,100%,50%);
	color:#FFF;top:20px;
	width:20px;height:20px;
	margin:6px 4px 6px 6px;
	border-radius:5px;line-height:20px;
	font:16px Orb;text-align:center;
}
.bdarea span{
	display:inline-block;font-size:15px;
}
.bdarea ul{
	margin:0;padding:0;display:inline-block;
}
h3{
	margin:4px 6px;color:#333;
}
#warp{
	position:absolute;top:102px;left:296px;right:16px;bottom:16px;
	opacity:0;transition:opacity 0.5s;min-width:960px;min-height:400px;overflow:hidden;
}
#ga,#mk{
	position:absolute;width:100%;top:0;bottom:0;
	transition:opacity 0.2s;
}
#ga{opacity:1}
#mk{
	opacity:0;text-align:center;pointer-events:none;
}
#mk p{
	position:relative;
}
#make{
	font-size:40px;color:#AAA;transition:color 0.2s;cursor:pointer;
}
#make:hover{
	color:hsl(206,100%,75%);
}
#gp{
	left:-28px;right:0;top:30px;bottom:0;position:absolute;overflow-y:scroll;
}
.game{
	position:relative;
	display:inline-block;
	margin-left:28px;
	margin-bottom:28px;
	min-width:448px;max-width:500px;
	width:calc(49% - 28px);height:96px;
	box-shadow:1px 1px 4px #0004;
	background-color:#FFF;
	cursor:pointer;
}
.game .a{
	position:absolute;left:100px;top:0px;right:8px;
	height:92px;padding:2px;
}
.game h1{
	margin:0;overflow:hidden;
	margin-bottom:4px;font-size:18px;
	padding-bottom:1px;
	width:100%;white-space:nowrap;
	border-bottom:1px solid hsl(207,100%,80%);
}
.game span{
	font-size:12px;
	border:1px solid #EEE;
	border-radius:3px;
	padding:1px 4px;
	color:#DDD;margin-right:2px;
}
.game .pa{
	position:absolute;
	top:30px;left:200px;right:0;
	color:#888;
	overflow:hidden;
	font-size:13px;
}
.game p{
	margin:2px;white-space:nowrap;
}
.game .in{
	display:inline;
	margin:0 2px;
}
.game .r{
	float:right;
}
.game .l{
	border-color:#AAA;
	color:#999;
}
.game .rating{
	position:absolute;
	font:32px Orb;
	bottom:2px;
	color:#ffa726;
	color:hsl(50,100%,50%);
}
.game .raC{
	position:absolute;
	left:64px;
	bottom:1px;
	height:32px;
	background:url('../img/Cherry.png') repeat-x;
	background-size:24px 24px;
}
.game .raB{
	position:absolute;
	width:120px;
	left:64px;
	bottom:1px;
	height:32px;
	background:url('../img/CherryB.png') repeat-x;
	background-size:24px 24px;
}
.gamechs{
	display:inline-block;
	position:relative;
	margin:4px;
	width:10px;
	height:10px;
	border:2px solid #FFF;
	border-radius:8px;
	background-color:#FFF;
	cursor:pointer;
}
.GI{
	display:inline-block;
	width:190px;height:20px;
	background:url(../img/ico/i.png) no-repeat left /20px 20px;
	position:absolute;margin-left:8px;
}
.GI div{
	position:absolute;opacity:0;max-width:172px;
	pointer-events:none;background:#FFF;
	border:1px solid #CCC;border-radius:6px;
	transition:opacity 0.4s;word-break:break-word;
	padding:6px;z-index:2;font-size:13px;
	margin-top:20px;line-height:20px;
}
#GUI{
	width:100%;height:100%;display:none;position:fixed;left:0;top:0;
}
#AUp{
	position:absolute;display:none;top:50%;left:50%;
	transform:translate(-50%,-50%);
}
#dUp{
	background:#FFF;border:1px solid #CCC;
}
#cGC{
	background:#FFF;position:absolute;left:50%;top:50%;
	transform:translate(-50%,-50%);
}
#avt{
	position:relative;display:block;
	width:58px;height:58px;
	border-radius:32px;overflow:hidden;
	border:2px solid #AAA;
}
#AUp ul{
	position:relative;margin:4px;padding:0;
}
#AUp div{
	width:88px;padding:4px;
	margin:8px 0;font-size:18px;
	background-color:hsl(205,100%,50%);
	color:#FFF;text-align:center;cursor:pointer;
}
#Cchs{
	position:absolute;
	border:1px solid hsl(50,80%,60%);
	background:linear-gradient(315deg,hsla(50,80%,60%,0.6) 10px,transparent 0);
}
#ps{
	position:absolute;top:0;left:0;color:#666;right:0;
}
#ps span{
	margin-right:4px;
}
#ps .opt{
	display:inline-block;color:#AAA;
	padding:0 4px;cursor:pointer;
}
#ps .opt:hover{
	color:#666 !important;
}
#search{
	position:absolute;top:0;right:0;
	width:160px;height:16px;padding:1px 8px;
	line-height:16px;background:none;
	border:1px solid #BBB;border-radius:12px;
	outline:none;font-size:14px;color:#333;
	transition:border-color 0.2s;
}
#search:hover,#search:focus{
	border-color:hsl(210,100%,70%);
}
#GUIA{
	background:#FFF;border:1px solid #AAA;
	border-radius:6px;width:320px;height:160px;
}
#RBar{
	display:none;position:absolute;
	left:50%;top:32px;transform:translateX(-50%);
	border:1px solid #AAA;
	width:200px;height:20px;
	border-radius:20px;
}
#RBar div{
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
    user-select:none;
	position:absolute;top:0;left:0;
	border:1px solid #AAA;
	width:18px;height:18px;
	border-radius:20px;
	cursor:pointer;
}
#Range{
	font-size:24px;position:absolute;
	left:50%;top:12px;
	transform:translateX(-50%);
	color:hsl(205,100%,70%);
}
.RGO{
	position:absolute;
	left:50%;top:70px;
	transform:translateX(-50%);
	width:88px;padding:4px;
	margin:8px 0;font-size:18px;
	background-color:hsl(205,100%,50%);
	color:#FFF;text-align:center;
	cursor:pointer;
}
#Tag div{
	position:absolute;left:50%;top:16px;
	transform:translateX(-50%);width:90%;
}
#Tag p{
	display:inline-block;
	width:28.5%;padding:1%;
	margin:1%;text-align:center;
	border:1px solid #AAA;
	border-radius:5px;
	cursor:pointer;color:#000;
}
#GUIA header{
	font-size:18px;color:#666;width:100%;
	text-align:center;margin:8px 0;
}
#GUIA input{
	width:270px;height:20px;
	border:1px solid #AAA;
	border-radius:3px;
	padding:4px;outline:none;
	font-size:15px;margin-left:20px;
}
#GUIA input:focus{
	border-color:hsl(200,100%,50%) !important;
}
#Email p,#CUN p{
	margin:8px 24px;
}
#my{
	position:absolute;top:160px;left:-28px;
	text-align:left;bottom:0;right:0;
	overflow-y:scroll;display:none;
}
.delg{
	position:absolute;width:50%;height:100%;
	left:0;top:0;line-height:96px;font-size:24px;
	background:rgba(0,0,0,0.5);color:#FFF;
	opacity:0;text-align:center;transition:opacity 0.5s;
}
.delg:hover{
	opacity:1;
}
#fk,#zz{
	position:absolute;color:#666;cursor:pointer;
}
#GUIA,#GUIB,#GUIC{
	position:absolute;display:none;top:50%;left:50%;
	transform:translate(-50%,-50%);
}
#GUIC{
	border:1px solid #AAA;border-radius:15px;
	width:300px;background:#FFF no-repeat;
	background-size:200px 200px;padding-top:230px;
	background-position:center 16%;
	text-align:center;color:#666;
}
#GUIC p{
	margin:10px;
}
#more{
	position:relative;padding:10px 20px;font-size:20px;
	text-align:center;background:#FFF8;color:#888;
	transition:all 0.4s;cursor:pointer
}
#more:hover{
	background:#FFFB;color:hsl(206,100%,75%)
}
.clear{
	position:absolute;right:0;top:6px;width:20px;height:20px;background:#FFF url(../img/ico/ok.png) center/cover;display:none
}