@font-face{
	font-family:Orb;
	src:url('../../css/Orbitron.otf');
}
#title{
	transform:rotate(-4deg);
	position:relative;
	height:92px;
	width:960px;
	border-bottom:3px solid hsl(207,100%,80%);
}
#name{
	font:80px Orb;
	color:#FFF;
	text-shadow:0 0 12px #000,0 0 8px #000;
	-webkit-text-stroke:2px #000;
}
#des{
	font:inherit;
	font-size:20px;
	position:absolute;
	right:0;
	color:#666;
}
img{
	image-rendering:pixelated;
}
#an{
	position:absolute;
	left:20px;
	top:160px;
}