*{
	margin:0;
	padding:0;
}
.warp{
	position:fixed;
	display:flex;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	transition:opacity 0.5s;
}
.ico{
	display:inline-block;
	margin-right:6px;
	width:56px;
	height:56px;
	border-radius:28px;
	background-color:#E6E6E6;
	cursor:pointer;
	transition:background-color 0.2s;
	background-position:center;
	background-repeat:no-repeat;
}
.ico:hover{
	background-color:#CCC !important;
}
.Re{
	position:relative;
}
.Ab{
	position:absolute;
}
header{
	color:#888;
	font-size:17px;
	margin:4px 0;
}
.h1{
	color:#000;
	font-size:20px;
	margin-bottom:10px;
}
.ht{
	color:#666;
	font-size:16px;
	margin:8px 0;
	padding-top:4px;
	border-top:2px solid hsl(200,100%,76%);
}
.tab{
	position:absolute;
	margin-left:12px;
	top:110px;
	left:0px;
	width:400px;
	transition:left 0.4s;
}
@font-face{
	font-family:Orb;
	src:url('../../css/Orbitron.otf');
}
.b{
	color:hsl(205,100%,50%);
}
#surface{
	width:800px;height:608px;position:absolute;left:8px;border:1px solid #CCC;overflow:hidden
}
#surface canvas{position:absolute;will-change:transform}
#GUI{
	position:absolute;
	background-color:rgba(0,0,0,0.3);
	width:800px;
	height:608px;
	border:1px solid rgba(0,0,0,0);
	overflow:hidden;
	visibility:hidden;
	opacity:0;
	transition:opacity 1s 0.4s;
}
#Bd,#GO,#GC,#GC div{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
}
#Bd{
	left:50%;
	transform:translate(-50%,-50%);
	width:320px;
	height:160px;
	border:3px solid #CCC;
	border-radius:16px;
	background:#FFF;
	padding:10px;
	visibility:hidden;
}
#Bd pre,#Bd xmp{
	font:inherit;white-space:pre-wrap;font-size:17px;
}
#GO,#GC{
	color:#FFF;
	width:800px;
	text-align:center;
	font:70px Orb;
	text-shadow:0 0 5px #000,0 0 10px #000;
}
#GC div{
	transition:left 1s 0.4s,top 1s 0.4s,right 1s 0.4s;
}
.CloseB{
	position:absolute;
	top:6px;right:9px;
	color:#CCC;
	font-size:16px;
	transform:rotate(0);
	transition:all 0.5s;
	cursor:pointer;
}
.CloseB:hover{
	color:#AAA;
	transform:rotate(360deg);
}
#loading{
	position:absolute;
	background-color:#FFF;
	width:800px;
	height:608px;
	border:1px solid rgba(0,0,0,0);
}
#loading pre{
	position:absolute;
	top:50%;width:100%;
	transform:translateY(-50%);
	text-align:center;
	font:32px Orb;
}
#BGMBox{
	position:relative;
	margin:10px 0;
	width:192px;
	height:32px;
	border-radius: 2px;
	box-shadow:0 0 10px #CCC;
	background:#FFF;
}
#WYY{
	width:32px;height:32px;
	background:#F3F3F4 url(WYY.png) no-repeat center;
	border-right:1px solid #DDD;
	cursor:pointer;float:left;
}
#BGMplay{
	width:20px;height:20px;
	margin:6px 7px;
	background:url(play.png) no-repeat center;
	cursor:pointer;float:left;
}
#BGMV{
	width:20px;height:20px;
	margin:6px 0;float:left;
	border-left:1px solid #DDD;
	background:url(volume.png) no-repeat center;
}
#BGMVa{
	position:absolute;
	top:50%;transform:translateX(-7px) translateY(-50%);
	width:12px;height:12px;
	border:1px solid #CCC;
	border-radius:10px;
	cursor:pointer;
	background:#FFF;
}
#BGMVb{
	position:relative;
	border-radius:3px;
	width:80px;height:6px;margin:13px 6px;
	background:#BBB;float:left;
}