*{
	-webkit-user-select:none;-moz-user-select:none;
	-ms-user-select:none;user-select:none;
}
#box{
	position:relative;width:400px;height:640px;
	float:left;padding:8px 12px;border:1px solid #AAA;
	background-color:#FFF;overflow:hidden;
}
#room{
	position:relative;width:801px;height:640px;
	float:left;padding:8px;border:1px solid #AAA;
	border-right:none;background-color:#FFF;
}
#surface{bottom:8px}
#GUI,#loading{bottom:8px;}
#toptab{width:1000px;}
#toptab div{
	display:inline-block;padding:1px;margin-left:8px;
	border-left:2px solid hsl(200,100%,76%);border-top:1px solid #CCC;
}
#toptab div span{margin:1px 3px;}
#box h1{
	font-size:24px;padding:2px 0;margin-bottom:8px;
	border-bottom:2px solid hsl(207,100%,80%);
}
#box h2{
	font-size:18px;font-weight:normal;color:#333;padding:2px 0;
	margin:4px 0 8px 0;border-bottom:2px solid hsl(207,100%,80%);
}
#box h3{font-size:17px;font-weight:normal;color:#666;margin:5px 0;}
#box h3 span{margin-left:8px;color:#000;}
#In{font-size:15px;color:#000;word-break:break-word;max-height:152px;overflow-y:scroll}
#tabarea{position:relative;left:-12px;top:-110px;}
#Rt{position:absolute;margin-top:-6px;font:32px Orb;color:hsl(50,100%,50%);}
#RB,#RC{position:absolute;left:120px;height:32px;}
#RC{background:url('../img/Cherry.png') repeat-x /24px 24px;}
#RB{width:120px;background:url('../img/CherryB.png') repeat-x /24px 24px;}
.key{padding:2px 8px;border:3px inset #DDD;border-radius:6px;margin-bottom:8px;}
.loadB{
	position:relative;top:20px;display:initial;font-size:24px;
	color:#AAA;margin:0 auto;padding:14px 8px 15px 60px;
	border-radius:4px;cursor:pointer;transition:all 0.2s;
}
.loadB:hover{background:#EEE;}
.loadB div{
	position:absolute;top:2px;left:2px;
	background:#DDD no-repeat center;
	width:56px;height:56px;border-radius:28px;
}
#LB{
	display:none;width:100%;position:absolute;
	top:40px;height:420px;overflow-y:scroll;
}
#LB table{text-align:left;border-collapse:collapse;}
#LB .R{
	width:20px;display:inline-block;margin-right:6px;
	border-radius:4px;background:#CCC;color:#FFF;
	text-align:center;font-size:14px;
}
#LB td,#LB th{
	margin:0;white-space:nowrap;
	height:25px;max-width:125px;
	padding:4px 10px;overflow:hidden;
	border:1px solid hsl(210,100%,86%);
}
*::-webkit-scrollbar{width:8px;background:#FFF;}
*::-webkit-scrollbar-track{background:#FFF;}
*::-webkit-scrollbar-thumb{background:#DDD;border-radius:4px;}
*::-webkit-scrollbar-thumb:hover{background:#BBB;}
*::-webkit-scrollbar-button{display:none;}
#RV{position:relative;width:100%;height:72px;}
#revt{
	position:absolute;width:300px;height:64px;
	font:inherit;padding:2px 4px;resize:none;outline:none;
	border:1px solid #CCC;border-radius:3px;
}
#revt:hover,#revt:focus{border-color:hsl(206,100%,70%);}
#emoji,#rev{
	position:relative;left:318px;width:80px;padding:4px 0;
	border-radius:4px;text-align:center;cursor:pointer;
}
#rev{
	background:hsl(200,100%,50%);color:#FFF;font-size:18px;
	border:1px solid hsl(200,100%,50%);margin-top:4px;
}
#emoji{border:1px solid #AAA;}
#rev:hover{background:hsl(202,100%,60%);}
#emojiShow{
	position:absolute;width:205px;border:1px solid #CCC;
	right:0;top:32px;border-radius:6px;background:#FFF;
	z-index:1;display:none;
}
#emojiShow span{display:inline-block;padding:2px 3px;}
#emojiShow span:hover{color:hsl(200,100%,48%);}
#SRV{height:340px;overflow-y:scroll;margin-top:8px;}
#SRV pre,#SRV pre xmp{
	font:inherit;margin-bottom:8px;
	white-space:pre-wrap;word-wrap:break-word;
}
#SRV h3{border-top:1px solid #CCC;padding-top:4px;margin-top:0;}
#SRV h3 span{font-size:12px;color:#AAA;float:right;margin:2px;}
.rep{cursor:pointer;}
#next{
	position:absolute;width:96px;height:96px;
	background:#DDD url(../img/ico/play.png) center no-repeat;
	border-radius:60px;left:50%;top:400px;
	transform:translateX(-50%);cursor:pointer;
	transition:top 1s 0.5s,background-color 0.2s;
}
#next:hover{background-color:#CCC;}
#gcb{
	position:absolute;top:50%;left:50%;
	padding:60px 30px;width:742px;height:490px;
	transform:translate(-50%,-50%) scale(0) rotate(0);
	transition:all 1s;background:#FFF;
}
#gcb p{
	font-size:40px;-webkit-text-stroke:1px #000;
	text-align:left;margin:20px;
}
#pRB,#pRC{position:absolute;left:50px;height:50px;margin-top:36px;}
#pRC{
	background:url('../img/Cherry.png') repeat-x;
	pointer-events:none;
}
#pRB{
	width:240px;cursor:pointer;
	background:url('../img/CherryB.png') repeat-x;
}
#pRT{
	color:hsl(50,100%,50%);font-size:50px;
	left:310px;text-shadow:none;margin-top:36px;
}
#gcb header{
	margin:20px;text-align:left;font-size:36px;
	color:#AAA;text-shadow:none;
}
#DFt{
	margin-top:170px;left:48px;width:400px;height:32px;
	border:3px solid #CCC;border-radius:20px;
}
#DFd{
	margin-top:170px;left:46px;width:36px;height:36px;
	border:3px solid #AAA;border-radius:30px;
	background:#FFF;cursor:pointer;
}
#DF{
	width:250px;font-size:40px;margin-top:170px;text-shadow:none;
	left:470px;text-align:left;color:hsl(205,100%,80%);
}
#DF span{position:absolute;margin-left:16px;font-size:24px;bottom:6px;}
#uRD{
	background:hsl(200,100%,50%);color:#FFF;
	border-radius:10px;font-size:36px;padding:15px 30px;
	text-shadow:none;right:60px;margin-top:36px;cursor:pointer;
}
#uRD:hover{background:hsl(202,100%,60%);}
#RK{
	position:absolute;margin-top:-120px;text-shadow:none;
	left:530px;width:200px;color:hsl(50,100%,50%);
}
#ach{
	width:140px;height:50px;padding-left:40px;
	background:#FFF url(../img/ico/ok.png) no-repeat left /50px 50px;
	border:2px solid #BBB;text-shadow:none;font-size:20px;
	color:hsl(200,100%,60%);line-height:50px;
}
#msg{
	position:absolute;left:8px;bottom:8px
}
#msg p{
	padding:4px 8px;background:#0005;color:#FFF
}