@font-face{
	font-family:Orb;
	src:url('../../css/Orbitron.otf');
}
#main {
	position:fixed;width:1320px;height:792px;background:#FFF;
	left:50%;top:50%;transform:translate(-50%,-50%);font-size:16px;
}
.block{
	position:absolute;width:58px;height:58px;
	background:#DDD;border:4px solid #AAA;color:#999;
	font:24px Orb;text-align:center;line-height:58px;
}
#frame {
	position:absolute;left:199px;top:67px;width:820px;height:658px;pointer-events:none
}
#rand {
	position:absolute;
	right:200px;bottom:68px;
	width:80px;height:80px;
	display:none;cursor:pointer
}
.user{
	position:absolute;z-index:10;color:#000;font-weight:bold;
	background:#FFF;padding:1px 6px;font-size:16px;
	border-radius:6px;box-shadow:1px 1px 3px #000;
	transform:translateX(-50%);opacity:0.6;
	transition:all 1s;white-space:nowrap;
}
.user::after{
	content:'';display:block;position:absolute;
	top:100%;left:50%;transform:translateX(-50%);
	border:6px solid #0000;border-top-color:#FFF;
}
#msg{
	position:absolute;left:198px;bottom:66px
}
#msg p{
	margin:0;padding:4px 8px;background:#0005;color:#FFF
}
#info {
	position:absolute;left:210px;top:76px;
}
#info p{margin: 4px}
#info h2{margin: 16px 4px}
#cls{
	position:absolute;left:1024px;top:72px;
	padding: 4px;width:82px;text-align:center;
	border:1px solid #AAA;border-radius:8px;cursor:pointer;
}
#cls:hover{border-color:#F66}
#time{
	position:absolute;left:1024px;top:112px;width:90px;height:16px;border:1px solid #AAA;overflow:hidden
}
#timebar{
	position:absolute;left:0;top:0;width:100%;height:100%;background:#8F8;
}
@keyframes bar{
	0%{transform:translateX(0)}
	49.5%{background:#8F8}
	50%{background:#ED4}
	100%{transform:translateX(-100%);background:#F44}
}
#item{
	position:absolute;left:1024px;top:144px;width:90px;
}
#item>div{
	width:90px;text-align:center;padding:2px 0;margin:4px 0;border:1px solid #AAA;
}